<h1>Create a post:</h1>
<section id="submit-post">
  <input class="form-input" type="text" id="post-title" value="title" />
  <textarea id="post-content"></textarea>
  <button id="post-button">post</button>
</section>
{{#each posts as |post| }}
<section>
  <h2>
    <a href="/post/{{post.id}}">{{post.title}}</a>
  </h2>
  <p>{{format_date post.date_created}}</p>
  <div class="content"><p>{{post.content}} </p></div>
  <button class="delete-post" data-id="{{post.id}}">delete post</button>
  <button class="edit-post" data-id="{{post.id}}">edit post</button>
</section>
{{/each}}


<script src="/js/dashboard.js"></script>