<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{post.title}}
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>By<span class="">{{post.user.name}}</span> on </p>
    <p>{{post.content}} </p>

</div>
